<template>
  <header class="page-header">
    <img :src="logo" alt="Logo" class="logo" @click="goToHome" />

    <div class="search-container">
      <input
        type="text"
        class="search-input"
        v-model="store.searchQuery"
        placeholder="Search for a product ..."
      />
    </div>
    <span class="cart-icon" @click="goToCart">
      <i class="fas fa-shopping-cart"></i>
    </span>
  </header>
</template>

<script setup>
import { ref } from "vue";
import { useRouter } from "vue-router";

const searchQuery = ref("");
import logo from "../assets/printlogo.svg";

import { store } from "../store";
const router = useRouter();

function goToHome() {
  router.push("/");
}

function goToCart() {
  router.push("/cart");
}

const search = () => {
  console.log("Searching for:", store.searchQuery);
};
</script>

<style scoped>
.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
}

.logo {
  height: 4rem;
}

.search-container {
  position: relative;
  width: 40%;
}

.search-input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}

.cart-icon {
  cursor: pointer;
}
</style>
