<template>
  <div class="menu">
    <ul>
      <li
        v-for="product in store.filteredProducts"
        :key="product.slug"
        @click="goToProductDetail(product.slug)"
        class="product-item"
      >
        <div class="product-image-container">
          <div class="image-zoom" @mouseover="zoomIn" @mouseleave="zoomOut">
            <img :src="product.image" alt="Product image" class="product-image" />
          </div>
        </div>
        <div class="product-name">{{ product.name.toUpperCase() }}</div>
      </li>
    </ul>
  </div>
</template>

<script setup lang="ts">
import { useRouter } from "vue-router";
import { store } from "../store";

const router = useRouter();

function goToProductDetail(productSlug: string) {
  router.push(`/products/${productSlug}`);
}
</script>

<style scoped>
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.menu ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.product-item {
  cursor: pointer;
  text-align: center;
  margin-bottom: 20px;
  flex: 1 1 200px;
}

.product-image-container {
  position: relative;
}

.product-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.product-name {
  margin-top: 10px;
  font-size: 1.2rem;
  font-weight: 500;
}

.image-zoom {
  overflow: hidden;
}

.image-zoom:hover .product-image {
  transform: scale(1.1);
}
</style>
