<template>
  <div v-if="productData" class="productDetail">
    <h1>{{ productData.title }} <span>-- choose your type</span></h1>
    <div class="properties">
      <PropertyCard
        v-for="property in productData.properties"
        :key="property.slug"
        :property="property"
        :selectedOptions="selectedOptions"
        @selectionChange="handleSelectionChange"
      />
    </div>
    <button @click="addToCart">Add to Cart</button>
  </div>
</template>

<script setup lang="ts">
import { ref, watchEffect } from "vue";
import { useRoute } from "vue-router";
import PropertyCard from "./PropertyCard.vue";

const route = useRoute();
const productData = ref(null);
const selectedOptions = ref({});

watchEffect(async () => {
  const productSlug = route.params.productName;
  if (!productSlug) return;

  try {
    const module = await import(`../assets/${productSlug}.json`);
    productData.value = module.default;
  } catch (error) {
    console.error("Failed to load product data:", error);
    productData.value = null;
  }
});

function handleSelectionChange({ propertySlug, selectedOption }) {
  selectedOptions.value[propertySlug] = selectedOption;
}

function addToCart() {
  alert("Product added to the cart");
  console.log("Product added to cart:", productData.value.title, selectedOptions.value);
}
</script>

<style>
h1 {
  color: var(--button-bg-color);
}

h1 span {
  font-size: 0.4em;
  color: #8c8181;
  font-weight: normal;
}

.productDetail {
  background-color: #f5f5f5;
  color: #333;
  padding: 20px;
  border-radius: 8px;
}

.properties {
  display: grid;
  grid-gap: 20px;
  margin-top: 20px;
}
</style>
