<template>
  <div class="property-card">
    <h2>{{ property.title }}</h2>
    <div :class="{ options: true, 'multi-column': property.options.length > 10 }">
      <div v-for="option in property.options" :key="option.slug" class="option">
        <input
          :id="`${property.slug}-${option.slug}`"
          :type="property.type === 'checkbox' ? 'checkbox' : 'radio'"
          :name="property.slug"
          :value="option.slug"
          v-model="selectedOptions[property.slug]"
          @change="handleSelectionChange"
        />
        <label
          :for="`${property.slug}-${option.slug}`"
          :class="{ selected: isSelected(option.slug) }"
        >
          {{ option.name }}
        </label>
        <template v-if="option.slug === 'custom'">
          <div class="custom-size-inputs">
            Width (mm):
            <input
              type="number"
              v-model="selectedOptions.customWidth"
              min="100"
              :max="option.customSizes.maxWidth"
            />
            Height (mm):
            <input
              type="number"
              v-model="selectedOptions.customHeight"
              min="100"
              :max="option.customSizes.maxHeight"
            />
          </div>
        </template>
      </div>
    </div>
  </div>
</template>

<script setup>
import { defineProps, getCurrentInstance } from "vue";

const props = defineProps({
  property: Object,
  selectedOptions: Object,
});

const instance = getCurrentInstance();

const isSelected = (optionSlug) => {
  const selectedOption = props.selectedOptions[props.property.slug];
  if (Array.isArray(selectedOption)) {
    return selectedOption.includes(optionSlug);
  }
  return selectedOption === optionSlug;
};

function handleSelectionChange() {
  instance.emit("selectionChange", {
    propertySlug: props.property.slug,
    selectedOption: props.selectedOptions[props.property.slug],
  });
}
</script>

<style scoped>
.property-card {
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 15px;
  margin-bottom: 20px;
}

.options {
  display: flex;
  flex-direction: column;
}

.multi-column {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.option {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.label-custom {
  margin-top: 10px;
  font-weight: bold;
}

.custom-size-inputs {
  display: flex;
  justify-content: start;
  gap: 10px;
  margin-top: 5px;
}

.custom-size-inputs input {
  width: auto;
}
</style>
