
<template>
  
    <PageHeader />
    <ProductSelector />
    <router-view></router-view>

</template>

<script setup lang="ts">
import ProductSelector from './components/ProductSelector.vue';
import PageHeader from './components/PageHeader.vue';
</script>

<style>
/* Add styles if needed */
</style>
